* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    background-color: antiquewhite;
    width: 100%;
    padding: 10px;
}

.banner {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.banner h2 {
    position: absolute;
    top:40px;
    width: 100%;
    text-align: center;
}