* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap-reverse;/* wrap */
    /* flex-flow: column; */
}

.box {
    height: 200px;
    /* width: 200px; */
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

.box1 {
    background-color: red;
    /* flex-grow: 1; */
}

.box2 {
    background-color: green;
    /* flex-grow: 2; */

}

.box3 {
    background-color: blue;
    /* flex-grow: 3; */
}