<main role="main">

    <div class="album py-2 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-3 project-sb">
                    {{!-- Links --}}
                    <div class="mb-4 ">
                        <h1>Links</h1>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Live Demo</a>
                        </div>
                        <div class="my-2">
                            <a href="#" class="btn btn-primary">Github Link</a>
                        </div>
                    </div>

                    <hr>
                    {{!-- Tags --}}
                    <div>
                        <h1>Tags</h1>
                        <a href="#" class="badge badge-primary">HTML</a>
                        <a href="#" class="badge badge-warning">JS</a>
                        <a href="#" class="badge badge-danger">CSS</a>
                    </div>
                    <hr>
                    {{!-- Related Projects --}}
                    <div>
                        <h1>Related Projects</h1>
                        <div>
                            <a href="#">JS Console</a>
                        </div>
                        <div>
                            <a href="#">Number Guessing Game</a>
                        </div>
                    </div>
                    <hr>
                    {{!-- Resources --}}
                    <div>
                        <h1>Resources</h1>
                        <div>
                            <a href="#">JS Console</a>
                        </div>
                        <div>
                            <a href="#">Number Guessing Game</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </nav>
                    <h1>Number Guessing Game</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repudiandae aperiam tenetur doloremque optio praesentium at accusantium molestiae impedit deleniti recusandae illum dolorum, exercitationem quam nihil, commodi quod quos accusamus?</p>

                    <img src="/images/javascript.png" alt="">
                </div>

            </div>
        </div>
    </div>

</main>