* {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-weight: 400; /* 100 - 900, bold, bolder*/
    font-size: 20px; 
    text-shadow: 2px 3px 5px black;/* x y blur color*/
    text-transform: lowercase;/*  capitalize uppercase*/
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-indent: 30px;
    text-align: justify;/* left right center*/
    text-decoration: none;/*underline line-through*/
    columns: #e90ab1;
}

/* 
use color name
rgb(255, 255, 255) ==> min 0 max 255
rgba(200,50,60,0.8) red green blue alpha, alpha value ranges from 0 to 1
hexadecimal => #ffffff


*/