* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* 

position : 

static => default position property
fixed
absolute
relative
inherit

*/





h1 {
    background-color: beige;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.boxes {
    width: 100%;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    position: relative;
}

.box {
    width: 50%;
    margin: 0px auto;
    padding: 30px;
}

.box1 {
    background-color: green;
}

.box2 {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 0px;
}

.box3 {
    background-color: blue;
}

.dummy {
    height: 1000px;
}