/*
    block,
    inline,
    inline-block
    none

*/

.link-microsoft {
    display: block;
}

.inline-para {
    display: inline-block;
    border: 1px solid red;
    height: 50px;
    width:50px;
}

.para {
    /* display: none; */
    visibility: hidden;
}